body{
    margin:auto;
    width: 80%;

}
header, section, article, nav, aside, footer, div {
    font-family: sans-serif;
    border: 1px dotted #0f0f0f;
    padding: 10px;
    margin: 10px;
}
#siteTitle{
float: right;
margin-top: 5%;
box-shadow: #0f0f0f 2px 2px 2px 2px;
}
#siteLogo{
    width: 25%;
    height: 25%;
}
li, ul{
    display: inline;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    padding:30px;
    border-color: #0f0f0f;
    
}
#minion{
    width: 20%;
}
#min{
    width: 50%;
    height: 20%;
    float: right;
}